{% extends "Add Doctor.html" %}
{% block body %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>                         
          <div class="card-body">
            <form action="/UpdateDoctor/{{datas[2]}}" method="POST">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="department"  class="bmd-label-floating">Clinic Name </label>
                    <input type="text" class="form-control" name="clinicname" id="department" values="{{datas[4]}}" >
                  </div>
                </div>
       
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="DoctorEmail" class="bmd-label-floating">Email address</label>
                    <input type="email"name="Email" id="DoctorEmail" class="form-control" values="{{datas[10]}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="Fname" class="bmd-label-floating">First Name</label>
                    <input type="text" class="form-control" name="doctorFname" values="{{datas[0]}}">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="Lname" class="bmd-label-floating">Last Name</label>
                    <input type="text" name="doctorLname"  class="form-control" values="{{datas[1]}}">
                  </div>

                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="age" class="bmd-label-floating">Age</label>
                    <input type="number" name="Age"  class="form-control" values="{{datas[6]}}">
                  </div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="Dphone" class="bmd-label-floating">Contact Number</label>
                    <input type="number" name="mobilephone" class="form-control" values="{{datas[8]}}">
                  </div>
                </div>
              </div>         
              <button type="submit" class="btn btn-primary pull-right">Save</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}